@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

.grocery-item {
    font-family: 'Open Sans', sans-serif;
    font-size: large;
    width: 35vw;
    padding: 5px;
    background-color: rgba(31, 190, 151, .2);
    border-radius: 10px;
    margin: 10px 0px 0px 10px;
}

.delete-btn {
    float: right;
    background: transparent;
    border: none;
    margin-top: 10px;
}

.delete-btn :hover {
    border-bottom: 2px solid black;
}