@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

.App {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  text-align: center;
  font-family: 'Muli', sans-serif;
}

.heading {
  font-size: 60px;
  color: #00bdaa;
}

.container-main {
  padding: 10vh;
  border: solid azure 5px;
}

.display-area {
  display: flex;
  height: 50vh;
  margin: 0 12vw 0 12vw;
}

.display-area {
  background-color: rgba(255, 255, 255, .6);
  backdrop-filter: blur(5px);
}


.progress-area {
  float: right;
}